@import 'transition/index.less';
@import 'var/index.less';
@import 'public.less';
@import 'ant/index.less';
@import './theme.less';

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important;
}

:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s !important;
}

html {
  overflow: hidden;
  text-size-adjust: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: visible;
  overflow-x: hidden;

  &.color-weak {
    filter: invert(80%);
  }

  &.gray-mode {
    filter: grayscale(100%);
    filter: progid:dximagetransform.microsoft.basicimage(grayscale=1);
  }
}

a:focus,
a:active,
button,
div,
svg,
span {
  outline: none;
}

// 커스텀
.antdv-table-vscroll-paper() {
  background-color: var(--header-bg-color);
  color: var(--tw-ring-offset-color);
}

.antdv-table-vscroll {
  .antdv-table-vscroll-search-area {
    display: flex;
    align-items: center;
    padding-inline: 8px;
    height: 48px;
    position: sticky;
    bottom: 0;
    .antdv-table-vscroll-paper();

    input {
      padding: 4px 8px;
      height: 32px;
      border-bottom: 1px solid var(--tw-ring-offset-color);
      .antdv-table-vscroll-paper();
    }

    button {
      margin-left: 8px;
      background-color: red;
    }
  }

  .ant-table-header {
    position: sticky !important;
    top: 0;
    z-index: 1;
  }

  .ant-table-pagination {
    position: sticky;
    bottom: 48px;
    padding-block: 8px !important;
    .antdv-table-vscroll-paper();
  }

  mark.antdv-table-cell-mark {
    padding: 0;
    background-color: chartreuse !important;
    color: #000;
  }

  .ant-table-body {
    height: unset !important;
    max-height: unset !important;
  }
}
